<!-- weather widget start -->
<div id="m-booked-bl-simple-55202">
	<div class="booked-wzs-160-110 weather-customize" style="background-color:#137AE9;width:160px;" id="width1">
		<div class="booked-wzs-160-110_in"> <a target="_blank" class="booked-wzs-top-160-110" href="https://www.booked.net/"><img
				 src="//s.bookcdn.com/images/letter/s5.gif" alt="https://www.booked.net" /></a>
			<div class="booked-wzs-160-data">
				<div class="booked-wzs-160-left-img wrz-18"></div>
				<div class="booked-wzs-160-right">
					<div class="booked-wzs-day-deck">
						<div class="booked-wzs-day-val">
							<div class="booked-wzs-day-number"><span class="plus">+</span>10</div>
							<div class="booked-wzs-day-dergee">
								<div class="booked-wzs-day-dergee-val">&deg;</div>
								<div class="booked-wzs-day-dergee-name">C</div>
							</div>
						</div>
						<div class="booked-wzs-day">
							<div class="booked-wzs-day-d"><span class="plus">+</span>10&deg;</div>
							<div class="booked-wzs-day-n"><span class="plus">+</span>3&deg;</div>
						</div>
					</div>
					<div class="booked-wzs-160-info">
						<div class="booked-wzs-160-city">Мытищи</div>
						<div class="booked-wzs-160-date">Понедельник, 27</div>
					</div>
				</div>
			</div> <a target="_blank" href="https://nochi.com/weather/mytishchi-51911" class="booked-wzs-bottom-160-110">
				<div class="booked-wzs-center"><span class="booked-wzs-bottom-l"> Прогноз на неделю</span></div>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript"> var css_file = document.createElement("link"); css_file.setAttribute("rel", "stylesheet"); css_file.setAttribute("type", "text/css"); css_file.setAttribute("href", 'https://s.bookcdn.com/css/w/booked-wzs-widget-160.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData(data) { if (typeof (data) != 'undefined' && data.results.length > 0) { for (var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-bl-simple-55202'); if (objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-' + data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if (copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } } </script>
<script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=51911&type=1&scode=124&ltid=3539&domid=589&anc_id=95074&cmetric=1&wlangID=20&color=137AE9&wwidth=160&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script><!-- weather widget end -->