<template>
  <grid-layout
    :layout.sync="layout"
    :col-num="4"
    :row-height="30"
    :is-draggable="true"
    :is-resizable="true"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[10, 10]"
    :use-css-transforms="true"
  >
    <grid-item
      class="text"
      v-for="item in layout"
      :x="item.x"
      :y="item.y"
      :w="item.w"
      :h="item.h"
      :i="item.i"
      :key="item.i"
    >
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>{{ `${widgets[0].name} ${item.i}` }}</span>
          <!-- <el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button> -->
          <el-button
            @click="(e) => deleteWidget(e, widgets[0].id)"
            size="mini"
            icon="el-icon-close"
          ></el-button>
        </div>
        <div v-html="widgets[0].html"></div>
      </el-card>
    </grid-item>
  </grid-layout>
</template>


<script>
import { mapState, mapMutations } from "vuex";
import draggable from "vuedraggable";
import { GridLayout, GridItem } from "vue-grid-layout";
const testLayout = [
  { x: 0, y: 0, w: 1, h: 8, i: "0" },
  { x: 1, y: 0, w: 1, h: 8, i: "1" },
  { x: 2, y: 0, w: 1, h: 8, i: "2" },
  { x: 3, y: 0, w: 1, h: 8, i: "3" },
  { x: 4, y: 0, w: 1, h: 8, i: "4" },
  { x: 5, y: 0, w: 1, h: 8, i: "5" },
  { x: 0, y: 4, w: 1, h: 8, i: "6" },
  { x: 1, y: 4, w: 1, h: 8, i: "7" },
  { x: 2, y: 4, w: 1, h: 8, i: "8" },
  { x: 3, y: 4, w: 1, h: 8, i: "9" },
  { x: 4, y: 4, w: 1, h: 8, i: "10" },
  { x: 5, y: 4, w: 1, h: 8, i: "11" },
  { x: 0, y: 8, w: 1, h: 8, i: "12" },
  { x: 1, y: 8, w: 1, h: 8, i: "13" },
  { x: 2, y: 8, w: 1, h: 8, i: "14" },
  { x: 3, y: 8, w: 1, h: 8, i: "15" },
  { x: 4, y: 8, w: 1, h: 8, i: "16" },
  { x: 5, y: 8, w: 1, h: 8, i: "17" },
  { x: 0, y: 8, w: 1, h: 8, i: "18" },
  { x: 1, y: 8, w: 1, h: 8, i: "19" }
];

export default {
  computed: mapState({
    widgets: state => state.widgets.widgets,
    myWidgets: state => state.widgets.myWidgets
  }),
  components: {
    draggable,
    "grid-layout": GridLayout,
    "grid-item": GridItem
  },
  data() {
    console.log(this.$store);
    return {
      value: "add widget",
      layout: testLayout
    };
  },
  methods: {
    ...mapMutations("widgets", ["deleteMyWidget", "addMyWidget", "moveCard"]),
    deleteWidget(event, myWidgetId) {
      // console.log(event, myWidgetId);
      // this.deleteMyWidget({ myWidgetId });
      console.log(this.layout);
    },
    addWidget(event) {
      if (event) {
        console.log(event);
        this.addMyWidget(event);
        this.value = "add widget";
      }
    },
    onMove({ newIndex, oldIndex }) {
      console.log(newIndex, oldIndex);
      this.moveCard({ newIndex, oldIndex });
    }
  }
};
</script>

<style scoped>
.text {
  background-color: gray;
}
</style>
