<template>
  <div class="hello">
    <h1>My Widgets</h1>
    <el-select v-model="value" placeholder="Select" @change="addWidget">
      <el-option v-for="item in widgets" :key="item.id" :label="item.name" :value="item"></el-option>
    </el-select>
    <el-row :gutter="10">
      <draggable tag="el-col" :list="myWidgets" @change="onMove">
        <el-col
          v-for="widget in myWidgets"
          v-bind:key="widget.id"
          :widget="widget"
          :xs="24"
          :sm="8"
          :md="4"
          :lg="4"
          :xl="2"
          :offset="1"
        >
          <el-card class="box-card">
            <div slot="header" class="clearfix">
              <span>{{ widget.name }}</span>
              <!-- <el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button> -->
              <el-button
                @click="(e) => deleteWidget(e, widget.id)"
                size="mini"
                icon="el-icon-close"
              ></el-button>
            </div>
            <div v-html="widget.html"></div>
          </el-card>
        </el-col>
      </draggable>
    </el-row>
  </div>
</template>


<script>
import { mapState, mapMutations } from "vuex";
import draggable from "vuedraggable";

export default {
  computed: mapState({
    widgets: state => state.widgets.widgets,
    myWidgets: state => state.widgets.myWidgets
  }),
  components: {
    draggable
  },
  data() {
    console.log(this.$store);
    return {
      value: "add widget"
    };
  },
  methods: {
    ...mapMutations("widgets", ["deleteMyWidget", "addMyWidget", "moveCard"]),
    deleteWidget(event, myWidgetId) {
      console.log(event, myWidgetId);
      this.deleteMyWidget({ myWidgetId });
    },
    addWidget(event) {
      if (event) {
        console.log(event);
        this.addMyWidget(event);
        this.value = "add widget";
      }
    },
    onMove({ newIndex, oldIndex }) {
      console.log(newIndex, oldIndex);
      this.moveCard({ newIndex, oldIndex });
    }
  }
};
</script>
